@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

body {
    font-family: $font-text;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;

}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-blue {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

    
    height: 49px;
    padding: 0 24px;
    border: 2px solid rgba(79, 143, 240, 1);
    background: rgba(79, 143, 240, 1);

    &:hover {
        border: 2px solid rgba(79, 143, 240, 1);
        color: rgba(79, 143, 240, 1);
        background: rgba(255, 255, 255, 1);

    }
}


.btn-white {
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    text-transform: uppercase;

    height: 49px;
    padding: 16px 24px;
    border: 2px solid rgba(230, 230, 230, 1);
    background: rgba(230, 230, 230, 1);

    &:hover {
        border: 2px solid rgba(230, 230, 230, 1);
        background: rgba(255, 255, 255, 1);
    }

}


.btn-container__blue-white {
    display: flex;
    gap: 24px;

    @include mediaMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.block-grey {
    text-align: center;
    padding: 80px 0;

    @include mediaTablet {
        padding: 60px 0;
    }
    @include mediaMobile {
        padding: 40px 0;
    }

    &__header {
        flex-direction: column;
        display: flex;
        align-items: center;


        &-title {
            display: inline-block;
            margin-bottom: 13px;
            font-size: 28px;
            font-weight: 800;
            text-transform: uppercase;
            color: black;

            @include mediaTablet {
                font-size: 24px;
            }
            @include mediaMobile {
                font-size: 20px;
            }
        }

        &-line {
            display: inline-block;
            width: 50px;
            height: 3px;
            margin-bottom: 24px;
            background: rgba(79, 143, 240, 1);
        }

        &-text {
            max-width: 920px;
            display: inline-block;
            margin-bottom: 48px;
            font-size: 16px;
            font-weight: 400;

            @include mediaTablet {
                font-size: 14px;
            }
            @include mediaMobile {
                font-size: 14px;
        
            }
        }
    }
}

.block-header {
    padding: 80px 0;

    @include mediaTablet {
        padding: 60px 0;
    }

    @include mediaMobile {
        padding: 40px 0;
    }

    &__white-item {
        &--title {
            font-size: 28px;
            font-weight: 900;
            text-transform: uppercase;
            color: black;
            margin-bottom: 10px;

            @include mediaTablet {
                font-size: 24px;
            }

            @include mediaMobile {
                font-size: 20px;
            }

            &--blue {
                color: #4F8FF0,

            }
        }

        &--line {
            width: 50px;
            height: 3px;
            margin-bottom: 24px;
            background: rgba(79, 143, 240, 1);

        }

        &--text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 32px;

            &--paragraph {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}