@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

body {
    font-family: $font-text;
}

img {
    width: 100%;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;

}


.btn-blue {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

    
    height: 49px;
    padding: 0 24px;
    border: 2px solid rgba(79, 143, 240, 1);
    background: rgba(79, 143, 240, 1);

    &:hover {
        border: 2px solid rgba(79, 143, 240, 1);
        color: rgba(79, 143, 240, 1);
        background: rgba(255, 255, 255, 1);

    }
}


.btn-white {
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    text-transform: uppercase;

    height: 49px;
    padding: 16px 24px;
    border: 2px solid rgba(230, 230, 230, 1);
    background: rgba(230, 230, 230, 1);

    &:hover {
        border: 2px solid rgba(230, 230, 230, 1);
        background: rgba(255, 255, 255, 1);
    }

}


.btn-container__blue-white {
    display: flex;
    gap: 24px;

    @include mediaMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.block-info {
    text-align: center;
    padding-top: 80px;

    @include mediaTablet {
        padding: 60px 0;
        margin: 0 auto;
    }
    @include mediaMobile {
        padding: 40px 0;
        margin: 0 auto;
    }

    &__header {
     


        &-title {
            margin-bottom: 13px;
            font-size: 28px;
            font-weight: 800;
            text-transform: uppercase;
            color: black;

            @include mediaTablet {
                font-size: 24px;
            }
            @include mediaMobile {
                font-size: 20px;
            }
        }

        &-line {
            width: 50px;
            height: 3px;
            margin: 0 auto 24px;
            background: rgba(79, 143, 240, 1);
        }

        &-text {
            max-width: 920px;
            margin-bottom: 48px;
            font-size: 16px;
            font-weight: 400;
            margin: 0 auto 48px;

            @include mediaTablet {
                font-size: 14px;
                margin: 0 auto;
            }
            @include mediaMobile {
                font-size: 14px;
                margin: 0 auto;
        
            }
        }
    }
}
