.footer-content {
  background-color: rgba(34, 34, 34, 1);
  ;
  padding: 80px 0;

  @include mediaTablet {
    padding: 60px 0;
  }

  @include mediaMobile {
    padding: 40px 0;
  }

}

.footer-header {
  display: flex;
  justify-content: space-between;
  gap: 182px;

  @include mediaTablet {
    display: flex;
    align-items: center;

  }

  @include mediaMobile {
    padding: 0 50px;

  }

  &__logo-blue {
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(79, 143, 240, 1);

  }

  &__logo-white {
    font-size: 20px;
    font-weight: 900;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 1);
  }

  &__logo-text {
    text-align: justify;
    font-size: 16px;
    text-transform: lowercase;
    color: white;

    @include mediaTablet {
      display: none;
    }
  }

  &__line {
    width: 100%;
    background: rgba(140, 140, 140, 1);
    border: 1px solid rgba(140, 140, 140, 1);
    margin: 48px 0;

    @include mediaTablet {
      margin: 24px 0;
    }
  }
}


.footer-wrapper {
  display: flex;
  gap: 180px;

  @include mediaMobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}



.footer-contacts {
  &__address {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mediaMobile {
      margin: 16px 0;
    }

    &-img {
      width: 55px;
      height: 55px;
    }

    &-right {
      &--title {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(140, 140, 140, 1);

      }

      &--subtitle {
        font-size: 16px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);

        @include mediaTablet {
          font-size: 14px;
        }
      }
    }
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mediaTablet {
    display: none;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);

    &-blue {
      color: rgba(79, 143, 240, 1);

    }

  }
}


.footer-questionary__wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;

  &-img {
    width: 65px;
    height: 65px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  &-name {
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);

  }

  &-job {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
  }
}


.footer-questionary__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 1);

}

.footer-copyright {
  background: rgba(24, 24, 24, 1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    @include mediaMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    &-text {
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }
}