.header-top {
    padding: 16px 0;
    background-color: black;
    color: white;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            justify-content: space-between;
            gap: 24px;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 600;
            &-img {
                height: 20px;
                width: 12px;
            }

            &--mail {
                @include mediaMobile {
                    display: none;
                }
            }

        }

        &-call {
            font-size: 14px;
            font-weight: 700;
            color: rgba(79, 143, 240, 1);

        }
    }


}


.header-nav {
    padding: 22px 0;
    background: rgba(1, 1, 1, 0.76);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo--big {
            font-size: 28px;
            font-weight: 900;
            text-transform: uppercase;
            color: rgba(79, 143, 240, 1);

            @include mediaTablet {
                font-size: 22px;
            }
        }

        &-logo--small {
            font-size: 20px;
            font-weight: 900;
            text-transform: lowercase;
            color: rgba(255, 255, 255, 1);

            @include mediaTablet {
                font-size: 16px;
            }

        }
    }

    &__btn {
        display: none;


        @include mediaTablet {
            display: block;
            background-color: rgba(1, 1, 1, .76);

            path {
                fill: #ffffff;
            }

        }
    }
}


.header-nav__menu {
    display: flex;
    gap: 32px;

    &-link {
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
            color: rgba(79, 143, 240, 1);
        }


        @include mediaTablet {
            display: none;
        }
    }
}



.header-content {
    background-image: url("/img/header_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @include mediaTablet {
      
    }

    @include mediaMobile {
     
    }


    &__info {
        text-align: center;
        padding-top: 120px;
        padding-left: 15px;
        padding-bottom: 36px;
        padding-right: 15px;


        @include mediaTablet {
            padding-top: 60px;
            padding-bottom: 24px;
        }

        @include mediaMobile {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &__wrapper {

        &-title--white {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 8px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);

            @include mediaTablet {
                font-size: 24px;
            }

            @include mediaMobile {
                font-size: 18px;
            }
        }

        &-title--blue {
            font-size: 56px;
            font-weight: 600;
            margin-bottom: 8px;
            text-transform: uppercase;
            color: rgba(79, 143, 240, 1);

            @include mediaTablet {
                font-size: 50px;
            }

            @include mediaMobile {
                font-size: 30px;
            }
        }

        &-text {
            max-width: 1090px;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            margin: 0 auto 48px;
            color: rgba(255, 255, 255, 1);

            @include mediaTablet {
                font-size: 18px;
                margin-bottom: 46px;
            }

            @include mediaMobile {
                font-size: 16px;
                margin-bottom: 32px;
            }
        }
    }

    &__btn {
        margin-bottom: 120px;

        @include mediaTablet {
            margin-bottom: 36px;
        }
    }

}

.header-nav__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;


    @include mediaMobile {
        display: none;
    }

}

.header-nav__wrap-line {
    display: flex;
    align-items: flex-end;
    gap: 8px;

}

.header-nav__line-item {
    width: 4px;
    height: 24px;
    background: rgba(230, 230, 230, 1);

    &--blue {

        height: 40px;
        background: rgba(79, 143, 240, 1);
    }
}

.header-nav__slider-arrow {}