.content-lawyers {
    background: $grey-block;
    padding-bottom: 80px;
}


.content-staff__wrapper {
    display: flex;
    gap: 18px;

    @include mediaTablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     
    }

    @include mediaMobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.content-staff {
    text-align: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    transition: 0.2s ease all;

    &:hover {
        opacity: 0.25;
    }

    @include mediaTablet {
       width: 25%;
    }

    @include mediaMobile {
width: auto;
    }


    &__pic {

        @include mediaTablet {
            
        }

        @include mediaMobile {
            
        }
    }

    &__info {
        padding: 20px 16px;
    }

    &__name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
        text-transform: lowercase;
    }
}